@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #000000;

    --background-color: #000000;

    --font-color-primary: #00FF00;

    --border-color-primary: #4e4e4e;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-color: var(--background-color);

    font-family: 'Noto Sans Mono', monospace;
    font-size: small;
}


/* SCROLLBAR*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: black;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background-color: var(--font-color-primary);
}


/* HEADER */

.header-container {
    width: 95%;
    height: 10vh;
    margin: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    border: 1px solid var(--border-color-primary);
}

.header-title {
    width: 50%;
    margin-left: 30px;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.header-actions {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    margin-right: 30px;
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 5px;

    border: 1px solid var(--border-color-primary);
}


.header-button img {
    width: 100px;
}

/*MAIN WINDOW*/

.main-window {
    width: 95%;
    height: 80vh;
    display: flex;

    border: 1px solid var(--border-color-primary);
}

/* GUI */

.gui-container {
    width: 60%;
    max-height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    color: var(--font-color-primary);
    border-right: 1px solid var(--border-color-primary);
}

.gui-item {
    display: flex;
    flex-direction: row;

    border: 1px solid var(--border-color-primary);

    margin: 20px;
}

.gui-item-image {
    min-width: 400px;
    max-width: 400px;
    max-height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 20px 0px 20px;
}

.gui-item-image img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.gui-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
        margin: 15px 20px 15px 0;
    }
}

.gui-item-text p {
    color: white;
}

.gui-item-text-tags {
    display: flex;
    flex-direction: row;
    justify-content: start;

    > * {
        margin-right: 10px;
    }
}

.gui-item-tag {
    padding: 5px;
    font-size: smaller;
    border: 1px solid white;
}

/* TERMINAL */

.terminal-container {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--font-color-primary);

    animation:
    slideDownAnimation 1s ease-in-out 1s forwards,
    fadeInAnimation 0.8s ease-in-out 1s forwards;

}

.terminal {
    width: 90%;
    height: 90%;
    
    border: 1px solid var(--border-color-primary);
}

.userEnteredText{
    color: rgba(255,255,255,0.5);
    margin: 0;
    padding: 0;
    display: inline-block;
}

#terminal-results{
    width:100%;
    height: 80%;

    overflow-y: auto;
    resize: none;
    border: none;

    font-size: 14px;
    line-height: 28px;
    display: block;
    color: rgba(255,255,255,0.9);
}

#terminal-results a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}

#terminal-results a:hover{
    text-decoration: underline;
}

#terminal-input{
    background: black;
    display: block;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-radius: 0 0 4px 4px;
    width: 100%;
    color: white;
    font-size: 14px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}


